<div class="container">
	<div class="row well well-lg">
		<div class="col-md-12 col-sm-offset-2 col-md-offset-0">
			<h2>About CodeFox Blog</h2>
			<hr>
			<p class='lead'>Welcome to CodeFox&reg;</p>
			<p class='lead'><strong>CodeFox</strong> is a programmers community where you can,</p>
			<ul class='lead'>
				<li>Ask Programming Questions
				<li>Help other Programmers by providing solutions to their questions
			</ul>
			<p class='lead'>Developers trust Code Fox to help solve coding problems. We're committed to making the internet a better place,
			  and our products aim to enrich the lives of developers as they grow and mature in their careers.</p>
			  <p class='lead'><strong>Sign up</strong> <em>to join us and explore the world of <b>programming</b></em></p>
			<br>
			<p class='lead'>We would like to hear from you about user experience. Please mail us your opinion by clicking <a href="mailto:nandibal@cisco.com">here</a>
			</p>
		</div>
	</div>
	<br><br>
	
	<site-features></site-features>
</div>