<div class="container">
	<div class="row well well-lg">
		<div class="col-md-6 col-sm-offset-2 col-md-offset-0">
			<h2>CodeFox Blog</h2>
			<hr>
			<p class='lead'>Welcome to CodeFox&reg;</p>
			<p class='lead'><strong>CodeFox</strong> is a programmers community where you can,</p>
			<ul class='lead'>
				<li>Ask Programming Questions
				<li>Help other Programmers by providing solutions to their questions
			</ul>
		</div>
		<div class="col-md-6 visible-md visible-lg we-know-tech-poster">
			<img alt="Poster: Everything about Technology" src="images/codefox-poster.jpg">
		</div>
	</div>
	<br><br>
	
	<site-features></site-features>
</div>