<div class="container">
	<div class="row well well-lg">
		<div class="col-md-6 col-sm-offset-2 col-md-offset-0">
			<h2>Feature Not Supported</h2>
			<hr>
			<p class='lead'>Sorry for the inconvenience. CodeFox is working on this feature.</p>
			<p class='lead'>This will be operational very soon.</p>
		</div>
		<div class="col-md-3 visible-md visible-lg social-icons">
			<img alt="Poster: FB Icon" src="images/fb.png">
		</div>
		<div class="col-md-3 visible-md visible-lg social-icons">
			<img alt="Poster: Twitter Icon" src="images/twitter.png">
		</div>
		<div class="col-xs-3 col-sm-offset-2 visible-xs visible-sm social-icons">
			<img alt="Poster: FB Icon Small" src="images/fb_small.png">
		</div>
		<div class="col-xs-3 visible-xs visible-sm social-icons">
			<img alt="Poster: Twitter Icon Small" src="images/twitter_small.png">
		</div>
	</div>
	<br><br>
	
	<site-features></site-features>
</div>