<div class="row text-center custom-feature-sec-3">
	<div class="col-md-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
		<a href='#ask-questions'>
			<i class="glyphicon glyphicon-question-sign"></i>
		</a>
		<h3><strong>Ask</strong></h3>
		<p>Ask your question</p>
		<!-- <p>We suggest to search the questions once to see if it already exists</p> -->
	</div>
	<div class="col-md-4 col-xs-6">
		<a href='#view-questions'>
			<i class="glyphicon glyphicon-eye-open"></i>
		</a>
		<h3><strong>View</strong></h3>
		<p>View all the questions and their solutions</p>
	</div>
	<div class="col-md-4 col-xs-6">
		<a href='#search-questions'>
			<i class="glyphicon glyphicon-search"></i>
		</a>
		<h3><strong>Search</strong></h3>
		<p>Search for questions and their solution</p>
	</div>
</div>