<!DOCTYPE html>
<html lang='en' ng-app="blog">
	<head>
		<title>Codefox Blog - Everything about technology</title>
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="styles/angular-csp.css">
        <link rel="stylesheet" type="text/css" href="styles/angular-ui-notification.min.css">
	</head>
	<body>
		<div class="navbar navbar-static-top">
			<div class="container">
				<div class='navbar-header brand-logo'>
					<a href="#home" class="navbar-brand">
						<img src="images/fox-logo-small.jpg" alt="Code Fox Blog"/>
					</a>
				</div>
			</div>
		</div>
		<div ng-controller="NavbarController" class="navbar navbar-inverse">
			<div class="container">
					<a style="display: none;" href="#home" class="navbar-brand brand-word"><strong>Codefox Blog</strong></a>
					<button id="hamburger-menu" type="button" class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
						<span class='sr-only'>Toggle Navigation</span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
				<ul class="nav navbar-nav navbar-right collapse navbar-collapse lead header-items">
					<li><br></li>
					<li><br></li>
					<li><br></li>
					<li><br></li>
					<li class='dropdown' ng-hide='loggedIn'> <!-- style="display:none;" -->
						<a href='' class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										<strong>Login via</strong>
										<div class="social-buttons">
											<a href="#not-supported" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
											<a href="#not-supported" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
										</div>
	                                	<strong>Or</strong>
									 	<form ng-controller='LoginController' ng-submit='loginUser(credentials)' class="form" accept-charset="UTF-8" id="login-nav">
											<div class="form-group">
												 <label class="sr-only" for="exampleInputEmail2">Email address</label>
												 <input ng-model='credentials.userName' type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required autofocus="autofocus">
											</div>
											<div class="form-group">
												 <label class="sr-only" for="exampleInputPassword2">Password</label>
												 <input ng-model='credentials.password' type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
	                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
											</div>
											<div class="form-group">
												 <button type="submit" class="btn btn-primary btn-block"><strong>Sign in</strong></button>
												 <img alt="loading" src="images/loading-small.gif" ng-show="loginInProgress">
											</div>
											<div class="checkbox">
												 <label>
												 <input type="checkbox"> <strong>keep me logged-in</strong>
												 </label>
											</div>
									 	</form>
									</div>
									<div class="bottom text-center">
										<strong>New here ?</strong> <a href="#join-us"><b>Join Us</b></a>
									</div>
					 			</div>
							</li>
						</ul>
					</li>
					<li ng-controller='LogoutController' class='dropdown logout' ng-show='loggedIn'>
						<a href='' class="dropdown-toggle" data-toggle="dropdown"><b>
							<i class="glyphicon glyphicon-user"></i><span class="caret"></span></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-2">
										<div class="explore-buttons">
											<a href="#" class="btn" ng-click='logout()'>Logout</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				    <li class='dropdown explore'>
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><b>Explore</b> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-2">
										<div class="explore-buttons">
											<a href="#ask-questions" class="btn">Ask</a>
											<a href="#view-questions" class="btn">View</a>
											<a href="#search-questions" class="btn">Search</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				    <li><a href='#about'>About</a></li>
				    <li><a href='#contact-us'>ContactUs</a></li>
				</ul>
			</div>
		</div>
		<br><br>
		<!-- Place holder for dynamically loading requested page -->
		<div ng-view></div>
		
		<!-- Empty div to add space between the body and footer -->
		<div class='container'>
			<br>
			<br>
			<br>
			<br>
		</div>
		
		<div class='footer custom-footer'>
			<div class='container'>
				<div class='row'>
					<div class='col-md-3 col-sm-4 col-xs-6'>
					  <h4>Who We Are</h4>
					  <p><i>CodeFox Blog</i> is a programmers community. <a href='#home'>Home</a>!</p>
					  <p><a href='#about'>More About Us<i class="glyphicon glyphicon-arrow-right"></i></a></p>
					</div>
					<div class='col-md-3 col-sm-2 col-xs-6'>
					  <h4>Links</h4>
					  <ul class="list-unstyled">
					    <li><a href='#home'>Home</a></li>
					    <li><a href='#ask-questions'>Ask Questions</a></li>
					    <li><a href='#view-questions'>View Questions</a></li>
					    <li><a href='#search-questions'>Search Questions</a></li>
					  </ul>
					</div>
					<div class='clearfix visible-xs'></div>
				  	<div class='col-md-3 col-sm-2 col-xs-6'>
					    <h4>Stay in Touch</h4>
					    <ul class="list-unstyled">
							<li><a href='#contact-us'>Contact Us</a></li>
							<li><a href='#not-supported'>Twitter</a></li>
							<li><a href='#not-supported'>Facebook</a></li>
					    </ul>
					</div>
				  	<div class='col-md-3 col-sm-4 col-xs-6'>
				    	<h4>Contact Us</h4>
				    	<ul class="list-unstyled">
					      	<li><i class="glyphicon glyphicon-map-marker"></i> Bangalore, India</li>
					      	<li><i class="glyphicon glyphicon-phone"></i> 9741701970</li>
					      	<li><i class="glyphicon glyphicon-envelope"></i><a href='mailto:support@codefox.com'> support@codefox.com</a></li>
				    	</ul>
				    	<p>CodeFox &copy;007.</p>
				  	</div>
				</div>
			</div>
    	</div>
    	
    	<!-- defining scripts -->
    	<script type="text/javascript" src="scripts/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="scripts/angular.min.js"></script>
		<script type="text/javascript" src="scripts/angular-route.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/routes.js"></script>
        <script type="text/javascript" src="scripts/angular-ui-notification.min.js"></script>
        <script type="text/javascript" src="scripts/angular-cookies.min.js"></script>
	</body>
</html>